@{
    ViewData["Title"] = "تماس";
}
<h2 dir="rtl">@ViewData["Title"]</h2>
<h3 dir="rtl">@ViewData["Message"]</h3>

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address dir="rtl">
    @*<input type="button" onclick="location.href='http://google.com';" value="Go to Google" />*@
    @*<form action="http://google.com">
            <input type="submit" value="Go to Google" />
        </form>*@
    <p dir="rtl">
        mehdy.rahimy@gmail.com
        <a href="mailto:mehdy.rahimy@gmail.com">ارسال ایمیل</a><br />
    </p>
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
